################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64
/.vs/vob/v15
/vobcpp.vcxproj.user
/vobcpp.vcxproj.filters
/vobcpp.vcxproj
/vobcpp.sln
/test.cpp
/.vs/vobcpp/v15
*.suo
